Source: saasdetray
Section: user/hidden
Priority: optional
Maintainer: EGOTEC AG <support@egotec.com>
Build-Depends: debhelper, qt5-default, qttools5-dev-tools, qtdeclarative5-dev, qtdeclarative5-dev-tools, qtbase5-dev, qt5-qmake, qtbase5-dev-tools, qtwebengine5-dev, qtpositioning5-dev, libqt5svg5-dev
Standards-Version: 3.8.4
Homepage: http://www.saas.de

Package: saasdetray
Architecture: any
Depends: qt5-default, libqt5webengine5, libqt5webenginecore5, libqt5webenginewidgets5, libqt5webengine-data, libqt5positioning5, libqt5positioning5-plugins, libqt5svg5, libc6
Description: SaaSde Trayicon by EGOTEC AG.
	This application is the additional linux client for the SaaS.de cloud service.
	You can use this application to record your working time and project time.
	You don't have to worry about your records, because the app will fully mange them.
	A time record will be created on start-up and shutdown. To get an SaaS.de account please sign-up at www.saas.de.
